aiohttp==3.11.12
altair==5.5.0
fastapi==0.115.8
matplotlib==3.10.0
matplotlib-inline
pandas==2.2.3
pydantic==2.10.6
requests==2.32.3
seaborn==0.13.2
streamlit==1.42.0
torch==2.6.0
transformers==4.48.3
uvicorn==0.34.0

